body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1840c2;
    padding: 10px 20px;
}

.navbar h1 {
    color: white;
    font-size: 24px;
    margin: 0;
}

.navbar a {
    color: white;
    margin-left: 20px;
    text-decoration: none;
    font-size: 18px;
}

.navbar a:hover {
    text-decoration: underline;
}

/* Container */
.container {
    width: 90%;
    margin: 20px auto;
}

/* Cards */
.recipe-card {
    background: white;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    text-align: center;
}

.recipe-card img {
    width: 100%;
    border-radius: 8px;
    margin-top: 10px;
}

form {
    background: white;
    padding: 20px;
    margin: 20px auto;
    width: 400px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    border-radius: 8px;
}

input, textarea, select {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 12px;
    width: 100%;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #121cac;
}
/* Grid for recipes */
.recipe-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}


@media (max-width: 1024px) {
    .recipe-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}


@media (max-width: 768px) {
    .recipe-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 480px) {
    .recipe-grid {
        grid-template-columns: 1fr;
    }
}

.recipe-card {
    background: white;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    text-align: center;
}

.recipe-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
}



@media (max-width: 768px) {
    .container {
        width: 95%;
    }
    .navbar h1 {
        font-size: 20px;
    }
    .navbar a {
        font-size: 16px;
    }
}

@media (max-width: 480px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }
    .navbar a {
        margin: 5px 0;
    }
    form {
        width: 90%;
    }
}
